@media screen and (max-width:1430px){
      .footer_content{
        grid-template-columns: repeat(3, 20% 42% 32%);
        
      }
      .footer_content h6{
       font-size: 14px;
        
      }
      .footer_content p{
        font-size: 12px;
       }
      .footer_content a{
        font-size: 12px;
       }
}
@media screen and (max-width:1024px){
  .footer_content{
      grid-template-columns: repeat(2, 1fr);
     gap:30px;
    }
    .footer_content h6{
      font-size: 16px;
       
     }
     .footer_content p{
       font-size: 14px;
      }
     .footer_content a{
       font-size: 14px;
      }
}
@media screen and (max-width:768px){
      .footer_content{
        grid-template-columns: repeat(1,1fr);

      }
      .footer_content h6{
        font-size: 16px;
         
       }
       .footer_content p{
         font-size: 14px;
        }
       .footer_content a{
         font-size: 14px;
        }
  
}
